# Secrets / local state (NIE commitujemy)
**/u2f_mappings
**/u2f_keys
**/*.enc
**/*.vault
**/keyring_pw.*
**/assert_param
**/hmac_salt*
**/*.key
**/*.id
**/*.out

# OS/editor
.DS_Store
*.swp
*.swo
*~
